.index{
    width: 100%;
    height: 100%;
}
page{
    width: 100%;
    height: 100%;
    
}
.top_one{
    width:100%;
    height:100rpx;
    background:cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20rpx;
    box-sizing: border-box;
}
.top_one view{
display: flex;
align-items: center;
}
.top_one view text{
     margin:0 20rpx; 
}
.icon-hao1{
    border:1px solid #fff;
    border-radius:50%;
    margin:0;padding:0;
}
.top_one text{
    font-size:40rpx;
    color:#fff;
}
.top_one .txt{
    font-size:30rpx;
}
.top{
    width: 100%;
    height:auto;
    border-bottom:2px solid #999;
    padding:20rpx;
    box-sizing: border-box;
    letter-spacing:10rpx;  
    line-height: 60rpx;  
}
.list_con{
    font-size:28rpx;
    color:#ccc;
    border-bottom:1px solid #ccc;
}
.section{
    display: flex;
    flex-direction: column;
    padding:0 20rpx;
    box-sizing: border-box;
    background:#ccc;
}
.info_one{

}
.imgs{
    display: flex;
    justify-content: center;
    
}
.imgs view{
    width:200rpx;
    height:100rpx;
    border:1px solid #999;
    border-radius:10rpx;
    margin:30rpx;
    background: #fff;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
     padding-top:20rpx; 
}
    .info_one{
        font-size:30rpx;
        color:#999;
        padding-top:10rpx;
    }
    .autor{
        color:#333;
        margin-right:10rpx;
    }
.imgs view image{
  width:40rpx;
  height:40rpx;
}
.imgs view text{
    font-size:26rpx;
    color:#ccc;
}
.iminfo{
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;

}

.iminfo image{
    width: 200px;
    height: 200px;
}
.on{
    border:2px solid #f00;
}

.mask{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    background: #000;
    opacity: .6;
}
.hh{
    widows: 300px;
    height: 300px;
    background: #fff;
    border-radius:20px;
    z-index:99999;
    position: absolute;
    margin-left:50px;
    top:50%;
    margin-top:-150px;
    text-align: center;

}
.close{
    z-index:99999;
    color:#f00;
    border-radius:50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right:0;
    border:1px solid #ccc;

}